.gallery .slider {
  height: 100vh;
  width: 100%;
}

.single-slider {
  height: 100vh !important;
  width: 100% !important;
  position: relative;
  background-color: red;
  display: flex;
  align-items: center;
}

.gallery .item {
  height: 100vh !important;
  width: 100vw !important;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery .item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(255, 165, 0, 0.4);
  padding: 1rem;
  border-radius: 20px;
}

.gallery .item .content h2 {
  font-size: 24px;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  font-weight: 700;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #ff5f13;
  line-height: 1;
  border-radius: 20px;
}

.gallery .item .content h2::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #ff5f13;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 4px;
}

.gallery .item .content p {
  font-size: 1.3em;
  font-weight: 400;
  color: #fff;
  margin-top: 1rem;
  line-height: 1.5;
}

.gallery .item .content .learn-more {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff5f13;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: none;
}

#about {
  height: fit-content;
  padding: 5rem 0;
}

#about .col-lg-12 h2 {
  color: white;
}

#about .col-lg-12 .back-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  transform: translateY(-113%);
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

.about .container {
  margin-bottom: 10rem;
}

.about .row .video {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
}

.about .row .video video {
  width: 100%;
  border-radius: 20px;
}

.about .row .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--white);
  text-transform: capitalize;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 900;
}

.about .row .content p {
  font-size: 1.5rem;
  color: var(--white);
  line-height: 1.3;
  padding: 1rem 0;
}

.about .box-container {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.about .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
  border-radius: 10px;
}

.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}

.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 0.5rem;
}

.about .count-wrapper .container {
  margin-bottom: 0;
  padding: 1.5em;
}

#about .single-counter {
  background-color: rgba(255, 165, 0, 0.2);
  margin: 0.8em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  height: 300px;
}

.slider {
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active {
  width: 30px;
}

.social-icons ul li a {
  color: #ff5f13; /* Set the desired icon color */
  font-size: 1.5rem;
}

.social-icons ul li a:hover {
  color: #ff8c00; /* Set the desired hover color */
}

.social-icons ul li a:focus {
  color: #ff8c00; /* Set the desired focus color */
}

.social-icons ul li a:active {
  color: #ff8c00; /* Set the desired active color */
}

@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }

  .gallery .item .content p {
    font-size: 1em;
    color: #fff;
    margin-top: 1rem;
    line-height: 1.2;
  }
}

@media (max-width: 450px) {
  .about .row .content h3 {
    font-size: 2.5rem;
  }

  .gallery .item .content p {
    font-size: 14px;
    color: #fff;
    margin-top: 1rem;
    line-height: 1;
  }
}
